/* tables */
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	x-padding-right: 16px;
	vertical-align: middle;
}
table.tablesorter tbody td {
	x-padding-right: 16px;
}
table.tablesorter tbody tr {
	x-border: 1px solid red;
	display: table-row;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
