<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="row">
	<div class="span4">&nbsp;
	</div>

	<div class="span4">
		<h2 class="bundle">Activate login</h2>
		<fieldset class="form-vertical well well-login" id="activateForm">
			<div class="control-group">
				<label class="control-label bundle" for="id">ID</label>
					<input class="span-fill" id="id" value="" type="text" maxlength="150">
			</div>
			<div class="control-group">
				<div class="input-append">
					<img src="kaptcha.jpg" id="kaptchaImg">
					<a class="btn add-on" id="renewKaptcha"><i class="icon-refresh"></i></a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label bundle" for="kaptcha">Type the text you see in the image</label>
					<input class="span-fill" id="kaptcha" value="" type="text" maxlength="20">
			</div>
			<div class="control-group" style="text-align:right;">
				<div class="controls">
					<a class="btn bundle" id="cancelBtn">Cancel</a>
					<a class="btn btn-primary bundle" id="activateBtn">Activate</a>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="span4">
	</div>
</div>

<script type="text/javascript">
App.activateP();
</script>