<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="setQRs">
	<div class="form form-setQRs">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="form-signin-heading bundle">Set up your challenge questions</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label bundle" for="avatar">Choose image</label>
				<div class="thumbnail" style="width:100px;height:100px;">
					<img id="avatar" src="" style="width:90px;height:90px;">
					<button id="prevAvatar" class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i></button>
					<button id="nextAvatar" class="btn btn-sm btn-default pull-right"><i class="fa fa-chevron-right"></i></button>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="form-group">
					<label class="control-label bundle" for="q1">Question 1</label> <select
						id="q1SB" class="qSB form-control"></select>
					<div class="hidden otherQ">
						<input class="form-control otherQ" id="q1" value="" type="text"
							placeholder="Enter your question" maxlength="200">
					</div>
					<label class="control-label bundle" for="r1">Answer</label> <input
						class="form-control" id="r1" value="" type="text" maxlength="200">
				</div>
	
				<div class="form-group">
					<label class="control-label bundle" for="q2">Question 2</label> <select
						id="q2SB" class="qSB form-control"></select>
					<div class="hidden otherQ">
						<input class="form-control otherQ" id="q2" value="" type="text"
							placeholder="Enter your question" maxlength="200">
					</div>
					<label class="control-label bundle" for="r2">Answer</label> <input
						class="form-control" id="r2" value="" type="text" maxlength="200">
				</div>
	
				<div class="form-group">
					<label class="control-label bundle" for="q3">Question 3</label> <select
						id="q3SB" class="qSB form-control"></select>
					<div class="hidden otherQ">
						<input class="form-control otherQ" id="q3" value="" type="text"
							placeholder="Enter your question" maxlength="200">
					</div>
					<label class="control-label bundle" for="r3">Answer</label> <input
						class="input-xlarge form-control" id="r3" value="" type="text" maxlength="200">
				</div>
				<div class="form-group" style="text-align: right;">
					<div class="controls">
						<a class="btn btn-default bundle" id="cancelBtn">Cancel</a> <a
							class="btn btn-primary bundle" id="okBtn">Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
