<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="signIn">
	<div class="form form-signIn">
		<h2 class="form-login-heading bundle">Sign in</h2>
		<input id="email" type="text" class="form-control" placeholder="ID or Email" required autofocus>
		<input id="password" type="password" class="form-control" placeholder="Password" required>
		<div class="text-right">
			<a href="?m=f" id="forgotPwd" class="bundle">Forgot password?</a>
		</div>
		<div class="checkbox">
			<label>
				<input id="rememberMe" type="checkbox" value="remember-me"> <span class="bundle">Remember my ID</span>
			</label>
		</div>
		<div>
			&nbsp;
		</div>
		<div class="form-group text-right">
			<a class="btn btn-default bundle" id="cancelBtn">Cancel</a>
			<a class="btn btn-primary bundle" id="signinBtn">Sign in</a>
		</div>
		
		<!-- 
		<div style="display:none;" class="open-id">
			<hr>
			<h4 class="text-muted">Or sign in with</h4>
			<a class="btn btn-default" id="yahooOIBtn"><img src="theme.do?elem=openid-icon-yahoo.png"> Yahoo </a>
			<a class="btn btn-default" id="googleOIBtn"><img src="theme.do?elem=openid-icon-google.png"> Google </a>
		</div>
		 -->
	</div>
</div>
