<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="signInS2">
	<div class="form form-signInS2">
		<h2 class="form-login-heading bundle">Sign in</h2>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail" style="width:100px;height:100px;">
					<img id="avatar" src="" style="width:90px;height:90px;">
				</div>
			</div>
			<div class="col-sm-9">
				<div class="form-group">
					<label class="control-label bolder" id="question"></label>
				</div>
				<div class="form-group">
					<label class="control-label bundle" for="answer">Answer</label>
					<div class="input-group">
						<input class="form-control input-xlarge" id="answer" value="" type="password" required autofocus>
						<div class="input-group-addon toggleVisibility">
							<i class="fa fa-eye"></i>
						</div>
					</div>
				</div>
		
				<div class="form-group align-right">
					<a class="btn btn-default bundle" id="cancelBtn">Cancel</a>
					<a class="btn btn-primary bundle" id="signinBtn">Sign in</a>
				</div>
			</div>
		</div>
	</div>
</div>
